@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Gelion_Regular';
  src: url('/fonts/Gelion_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gelion_Medium';
  src: url('/fonts/Gelion_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 245, 245, 245;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(245, 245, 245);

}

h1 {
  @apply text-gray-900 font-bold text-3xl;

}

h2,
h3 {
  @apply text-gray-600 font-bold
}

.check {
  background-color: transparent;
  @apply text-gray-600 rounded bg-transparent;
}

.course_name {
  @apply text-gray-900 text-lg font-semibold;
}

.tutor_name {
  @apply text-gray-600 text-sm;
}

.thumbnail {
  @apply border rounded-xl overflow-hidden object-contain ;
}
.thumbnail_container{
  @apply w-44 h-32
}



.search_input {
  @apply block w-full rounded-xl border border-gray-300 bg-transparent pl-2  text-sm placeholder-gray-600 ;
}


.cat_btn {
  @apply rounded-full border border-gray-300 bg-transparent py-1.5 px-5 text-gray-800 transition-all text-center text-sm flex items-center justify-center;

}
.blue_btn {
  @apply rounded-xl border border-primary bg-primary py-1.5 px-5 text-white transition-all hover:bg-white hover:text-primary text-center text-lg font-bold flex items-center justify-center;
}

.outline_btn {
  @apply text-white m-3 font-bold bg-blue-400 border border-blue-500 w-80 p-2 h-11 rounded-2xl hover:text-blue-500 hover:bg-transparent;
}



img {
  @apply rounded-2xl m-2;
}

/* haroon 
home category style

 */


 .cards{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.card{
  padding: 2rem;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;

}
.card:focus{
 background-color: lightblue;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.btn-1{
  padding: 1rem;
  background-color: blue;
  border-radius: 3px;
}
.main{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.learning-card-save{
  display: flex;
  justify-content: space-between;
}
.top-learning-card{
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-cards{
  display: flex;
  align-items: center;
  justify-content: center;
}
.learning-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.completion-rate{
  display: flex;
  flex-direction: column;
  background-color: blue;
}
.wrapper{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

/*code for custom loading icon*/

.loader{
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #505050;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.heading{
  font-size: 40px;
}
/* the end of home category */

